@charset "utf-8";/* 팝업 픽스 */
.pop_wrap {position:fixed; z-index:1400; top:0; left:0; right:0; bottom:0; width:100%; height:100%;}
/* 팝업배경 */
.pop_bg_modal {position:absolute; z-index:1500; width:100%; height:100%; background:rgba(0,0,0,0.6);}
#main_bg_modal02 {position:fixed; z-index:1500; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background:rgba(0,0,0,.6);}

/* 팝업 중앙 */
.pop_container {position:fixed; top:50%; left:50%; z-index:1600; height:auto; overflow:hidden; border-radius:5px; background-color:#fff;}

.wid_280 {width:280px; margin-left:-140px;}
.wid_290 {width:290px; margin-left:-145px;}
.wid_300 {width:300px; margin-left:-150px;}
.wid_98{width:96%; margin-left:-48%;}

.mt_plus6 {margin-top:6px;}
.mt_plus8 {margin-top:8px;}
.mt_55 {margin-top:-55px;}
.mt_115 {margin-top:-115px;}
.mt_100 {margin-top:-100px;}
.mt_125 {margin-top:-125px;}
.mt_160 {margin-top:-160px;}
.mt_180 {margin-top:-180px;}
.mt_200 {margin-top:-200px;}
.mt_260 {margin-top:-260px;}

.rd_2 {border-radius:4px;}a
.shadow {box-shadow:1px 3px 5px rgba(0,0,0,0.3);}

/*--------------------------------- 공통알림창 ---------------------------------*/
/* 알림창 헤더 */
.pop_common_h {position:relative; width:100%; height:35px; border-bottom:1px solid #dcdcdc; background-color:#f2f2f2; line-height:36px;}
.pop_common_h h2 {width:100%; height:100%; color:#555555; font-size:15px; font-weight:400; text-align:center; letter-spacing:3px;}

/* 알림창 콘텐츠 */
.pop_common_con {position:relative; width:100%; height:auto; padding:20px 0px; font-size:15px; text-align:center; line-height:18px; box-sizing:border-box;}

/* 알림창 하단 */
.pop_common_bot {position:relative; width:100%; height:auto; border-top:1px solid #dcdcdc;}
.pop_common_bot:after {display:block; clear:both; contnet:"";}
.pop_common_bot .pop_btn_1ea {width:100%; height:45px; line-height:46px;}
.pop_common_bot .pop_btn_2ea {float:left; width:50%; height:45px; line-height:46px;}
.pop_common_bot .pop_btn_2ea:last-of-type {border-left:1px solid #dcdcdc; box-sizing:border-box;}
.pop_common_bot .pop_btn_1ea a, .pop_common_bot .pop_btn_2ea a {display:block; width:100%; height:100%; color:#0b99e0; text-align:center;}
.pop_common_bot .pop_btn_1ea a:active, .pop_common_bot .pop_btn_2ea a:active {background-color:#eaf5fa;}
/*--------------------------------- 공통알림창 ---------------------------------*/
/*--------------------------------- 음성검색 ---------------------------------*/
/* 음성검색 문구 */
.voice_on_txt{width:100%; height:auto; line-height:28px; padding-top:35px; text-align:center; font-size:20px; color:#0998e5;}
.voice_off_txt{display:none; width:100%; height:auto; line-height:28px; padding-top:35px; text-align:center; font-size:20px; color:#1c1e1f;}

/* 음성검색 아이콘 */
.voice_ico{position:relative; width:72px; height:72px; padding:30px 0; margin:0 auto;}
.voice_ico .voice_on{position:relative; z-index:5; width:100%; height:100%; border-radius:100%; background: rgb(63,63,63); background: -moz-linear-gradient(top, rgba(63,63,63,1) 0%, rgba(8,8,8,1) 100%); background: -webkit-linear-gradient(top, rgba(63,63,63,1) 0%,rgba(8,8,8,1) 100%); background: linear-gradient(to bottom, rgba(63,63,63,1) 0%,rgba(8,8,8,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#080808',GradientType=0 );}
.voice_ico .voice_on a{display:block; width:100%; height:100%; background:url(http://image.bbjang.com/imgs/bbjang/img01/ico_voice_on.png) no-repeat center center; background-size:22px 33px;}
.voice_ico .voice_off{display:none; position:relative; z-index:5; width:100%; height:100%; border-radius:100%; background: rgb(79,79,79); background: -moz-linear-gradient(top, rgba(79,79,79,1) 0%, rgba(59,59,59,1) 100%); background: -webkit-linear-gradient(top, rgba(79,79,79,1) 0%,rgba(59,59,59,1) 100%); background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(59,59,59,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#3b3b3b',GradientType=0 );}
.voice_ico .voice_off a{display:block; width:100%; height:100%; background:url(http://image.bbjang.com/imgs/bbjang/img01/ico_voice_off.png) no-repeat center center; background-size:22px 33px;}
.voice_ico .voice_ripple{position:absolute; top:25px; left:-5px; width:82px; height:82px; background:rgba(235,248,255,1); border-radius:100%; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); -o-transform:scale(1); animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -webkit-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -ms-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -moz-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41) infinite; -o-animation:voice_ripple 0.6s cubic-bezier(.14,.77,.41,.41);}
@keyframes voice_ripple {
    10%{transform: scale(0.8);}
    30% {transform: scale(1.3);}
    40% {transform: scale(1.3);}
    100% {transform: scale(1);}
}
/*--------------------------------- 음성검색 ---------------------------------*/
/*--------------------------------- 허위매물 신고하기 ---------------------------------*/
/* 신고하기 헤더 */
.pop_report_h {position:relative; width:100%; height:50px; line-height:50px;}
.pop_report_h h2 {position:relative; width:100%; height:100%; font-size:24px; text-align:center;}
.pop_report_h h2 .bg_blue {display:block; position:absolute; left:0; bottom:0; width:100%; height:2px; background-color:#2da5f1; border-bottom:none;}
.pop_report_h .pop_btn_clse {position:absolute; top:0; right:0; width:40px; height:48px; background:url(http://image.bbjang.com/imgs/bbjang/img01/btn_pop_x.png) no-repeat center center; background-size:20px 20px;}
.pop_report_h .pop_btn_clse a {display:block; width:100%; height:100%; text-indent:-9999px;}
.pop_report_h .pop_btn_clse a:active {background:rgba(0,0,0,0.05);}

/* 신고하기 컨텐츠 */
.pop_report_con {position:relative; width:100%; height:auto; padding:12px 17px; box-sizing:border-box;}
.pop_report_con .pop_notice {width:100%; height:auto; font-size:16px; line-height:20px;}
.pop_report_con .pop_warn {width:100%; height:auto; padding:15px 0; color:#71777a; font-size:15px; line-height:20px;}
.pop_report_con .pop_warn p {width:100px; height:30px; margin-bottom:7px; border-top:1px solid #4a4b4c; border-bottom:1px solid #4a4b4c; color:#323333; font-size:16px; text-align:center; line-height:31px; letter-spacing:1px;}
.pop_report_con .pop_rdo {width:100%; height:auto;}
.pop_report_con .pop_rdo .rdo_wrap {padding-bottom:10px;}
.pop_report_con .pop_rdo .rdo_wrap .rdo_lb {padding-left:27px; font-size:16px;}
.pop_report_con .pop_rdo .rdo_wrap .rdo_input:checked ~ .rdo_lb {background:url(http://image.bbjang.com/imgs/bbjang/img01/btn_rdo_on.png) no-repeat left center; background-size:23px 23px; color:#0b7fd0;}

/* 신고하기 하단 */
.pop_report_bot {position:relative; width:100%; height:auto;}
.pop_report_bot .pop_btn_report {width:100%; height:50px; background-color:#2ea5f0; line-height:51px;}
.pop_report_bot .pop_btn_report a {display:block; width:100%; height:100%; color:#fff; font-size:21px; text-align:center;}
.pop_report_bot .pop_btn_report a:active {background:rgba(0,0,0,0.05);}
/*--------------------------------- 허위매물 신고하기 ---------------------------------*/
/*--------------------------------- 상담메시지 ---------------------------------*/
/* 메시지 헤더 */
.pop_msg_h {position:relative; width:100%; height:40px; box-shadow:inset 0 2px 2px #52bff6; line-height:40px;}
.pop_msg_h h2 {position:relative; width:100%; height:100%; color:#fff; font-size:17px; font-weight:400; text-align:center;}

/* 메시지 콘텐츠 */
.pop_msg_con {position:relative; width:100%; height:auto; padding:10px; box-sizing:border-box;}
.pop_msg_con:after {display:block; clear:both; content:"";}

.pop_photo {position:absolute; top:10px; left:10px; width:62px; height:60px; padding:5px 2px 5px 0; box-sizing:border-box;}
.pop_photo .pop_photo_clip {width:50px; height:50px; overflow:hidden; border-radius:100%; background:url(http://image.bbjang.com/imgs/bbjang/img01/img_my_default.png) no-repeat center center; background-size:cover;}
.pop_photo .pop_photo_clip img {width:100%; height:100%;}

.pop_txt {width:100%; height:60px; padding-left:62px; box-sizing: border-box;}
.pop_txt .pop_txt_title {width:100%; height:20px; padding-bottom:4px; overflow:hidden; color:#0967ab; font-size:15px; text-overflow:ellipsis; line-height:20px; white-space:nowrap;}
.pop_txt .pop_txt_con {display:-webkit-box; width:100%; height:36px; overflow:hidden; font-size:16px; text-overflow:ellipsis; line-height:18px; word-wrap:break-word;-webkit-box-orient:vertical; -webkit-line-clamp:2;}

/* 메시지 하단 */
.pop_msg_bot {position:relative; width:100%; height:auto; border-top:1px solid #e1e1e1;}
.pop_msg_bot:after {display:block; clear:both; content:"";}
.pop_msg_bot .pop_btn_clse, .pop_msg_bot .pop_btn_on {float:left; width:50%; height:45px; line-height:45px;}
.pop_msg_bot .pop_btn_clse {border-right:1px solid #e1e1e1; box-sizing:border-box;}
.pop_msg_bot .pop_btn_clse a, .pop_msg_bot .pop_btn_on a {display:block; width:100%; height:100%; font-size:19px; text-align:center;}
.pop_msg_bot .pop_btn_clse a {color:#999999;}
.pop_msg_bot .pop_btn_on a {color:#1f9cea;}
.pop_msg_bot .pop_btn_clse a:active, .pop_msg_bot .pop_btn_on a:active {background:rgba(0,0,0,0.05);}
/*--------------------------------- 상담메시지 ---------------------------------*/
/*--------------------------------- 방법선택폼 ---------------------------------*/
ul.pop_slct_mtd {position:relative; height:auto; overflow:auto;}
ul.pop_slct_mtd li.pop_mtd_1 a {padding:18px 0 17px 0; border-bottom:1px solid #d5d5d5; color:#1c1e1f; font-size:19px; text-align:center; line-height:19px;}
ul.pop_slct_mtd li.pop_mtd_1 a:active {background:#f5f5f5;}
ul.pop_slct_mtd li.pop_mtd_1 a_active {background:#f5f5f5;}
ul.pop_slct_mtd li.pop_mtd_lst a{border-bottom:none;}
/*--------------------------------- 방법선택폼 ---------------------------------*/
/*--------------------------------- 영상팝업 ---------------------------------*/
.pop_vd {position:relative; height:auto; overflow:hidden;}
.pop_vd img {margin:12px 0 6px 12px;}
.pop_vd p.pop_vd_txt {margin-top:10px; color:#5f676b; font-size:15px; font-weight:bold; text-align:center; line-height:20px;}
.pop_vd p.pop_vd_txt span.vd_txt_color {color:#b533ff;}
.pop_vd p.pop_vd_txt span.vd_txt_line {font-size:17px; font-weight:bold; line-height:26px;}
.pop_vd p.pop_vd_txt span.vd_txt_size {font-size:13px; font-weight:normal;}

.pop_vd .pop_vd_call {position:relative; width:256px; height:auto; margin:14px auto;}
.pop_vd .pop_vd_call a {padding:13.5px 0; border-radius:4px; background:#0ca2ed; color:#fff; font-size:17px; text-align:center;}
.pop_vd .pop_vd_call a:active {position:relative; top:1px; background:#0b91d4;}
.pop_vd .pop_vd_call a_active {position:relative; top:1px; background:#0b91d4;}
/*--------------------------------- 영상팝업 ---------------------------------*/
/*--------------------------------- 등록완료알림팝업 ---------------------------------*/
.pop_cplt {position:relative; height:auto; margin:0 auto; text-align:center;}
.pop_cplt img {margin:14px auto 5px auto;}

.pop_cplt_box {position:relative; width:264px; height:auto; margin:0 auto; border-radius:5px;}

.pop_cplt_box .pop_img_bg1 {width:264px; height:113px; background:url('http://image.bbjang.com/imgs/bbjang/img01/img_pop_cplt.jpg') no-repeat; background-size:264px 113px;}
.pop_cplt_box .pop_img_bg2 {width:264px; height:138px; background:url('http://image.bbjang.com/imgs/bbjang/img01/img_pop_cplt2.jpg') no-repeat; background-size:264px 138px;}
.pop_cplt_box .pop_img_bg3 {width:264px; height:198px; background:url('http://image.bbjang.com/imgs/bbjang/img01/img_pop_cplt3.jpg') no-repeat; background-size:264px 198px;}
.pop_cplt_box .pop_img_bg p.pop_cplt_tit {padding:14px 0 0 14px; color:#fff; font-size:18px; text-align:left; line-height:25px;}
.pop_cplt_box .pop_img_bg p.pop_cplt_tit span {color:#fff;}
.pop_cplt_box .pop_img_bg p.pop_cplt_tit span.cplt_name {color:#fff; font-size:20px;}
.pop_cplt_box .pop_img_bg p.pop_cplt_txt {padding:10px 0 0 14px; color:#fff; font-size:18px; text-align:left; line-height:25px;}
.pop_cplt_box .pop_img_bg p.pop_cplt_txt a.event-info {display:inline-block; margin:0 0 2px -2px; padding:8px 10px; border:1px solid rgba(255,255,255,.95); box-shadow:2px 2px 2px rgba(0,0,0,.1) ; background-color:rgba(255,255,255,.8); font-size:16px; color:#003278; line-height:16px; letter-spacing:0; text-align:center;}
.pop_cplt_box .pop_img_bg p.pop_cplt_txt a:active.event-info {border:1px solid rgba(255,255,255,1); background:rgba(255,255,255,1);}

.pop_cplt_box .pop_cplt_show {position:relative; width:264px; height:auto; padding:10px 0; border:1px solid #dbdbdb; border-top:none; border-radius:0 0 5px 5px; background:#fafafa; box-sizing:border-box;}
.pop_cplt_box .pop_cplt_show p.pop_hope_tit {padding-top:4px; color:#4d5356; font-size:15px; font-weight:bold;}
.pop_cplt_box .pop_cplt_show h2.pop_hope_txt {padding:10px 0; color:#0b7fd0; font-size:22px; font-weight:bold;}
.pop_cplt_box .pop_cplt_show a {width:170px; margin:0 auto; padding:10px; border-radius:18px; background:#0ca2ed; color:#fff; font-size:16px; line-height:16px;}
.pop_cplt_box .pop_cplt_show a:active {position:relative; top:1px; background:#0b91d4;}
.pop_cplt_box .pop_cplt_show a_active {position:relative; top:1px; background:#0b91d4;}

.pop_cplt_bottom {position:relative; width:264px; margin:11px auto; overflow:auto;}
.pop_cplt_bottom .pop_cplt_another {float:left; width:128px; height:auto;}
.pop_cplt_bottom .pop_cplt_another a {padding:15px 0; border-radius:5px; background:#878f94; color:#fff; font-size:18px; line-height:24px;}
.pop_cplt_bottom .pop_cplt_another a:active {background:#7b8387;}
.pop_cplt_bottom .pop_cplt_another a.strong {background:#000099;}
.pop_cplt_bottom .pop_cplt_another a:active.strong {background:#000082;}
.pop_cplt_bottom .pop_cplt_home {float:right; width:128px; height:auto;}
.pop_cplt_bottom .pop_cplt_home a {padding:26px 0; border:1px solid #0ca2ed; border-radius:5px; background:#fff; color:#0ca2ed; font-size:18px; line-height:24px; box-sizing:border-box;}
.pop_cplt_bottom .pop_cplt_home a:active {background:#eaf5fa;}
.pop_cplt_bottom .pop_cplt_home a_active {background:#eaf5fa;}
/*--------------------------------- 등록완료알림팝업 ---------------------------------*/


/* ================================= 방부장 개발팀 추가 css ================================= */
.alarm_nobtn {display:none; position:fixed; z-index:2100; left:50%; bottom:20px; width:80%; height:auto; overflow:hidden; border-radius:20px; background:rgba(0,0,0,.85); margin-left:-40%; }
.alarm_nobtn p {padding:15px; color:#fff; font-size:14px; line-height:18px; word-wrap:break-word; text-align:center;}

.alarm_nobtn_mid {display:none; position:fixed; z-index:2100; left:50%; bottom:0; top:0; margin-top:auto; margin-bottom:auto; width:80%; height:auto; overflow:hidden; border-radius:20px; background:rgba(0,0,0,.85); margin-left:-40%; display:inline-table; }
.alarm_nobtn_mid p {padding:15px; color:#fff; font-size:14px; line-height:18px; word-wrap:break-word; text-align:center;}

/* 매물종류 / 매물옵션 팝업창으로 띄우기 */
#popDealClass, #popSlctOption, #popDealNote, #popDealType {position:fixed; z-index:1600; top:0; left:0; width:100%; height:100%; }

/*---------------------------- 170216 무료영상팝업 닫기추가(김다솜) ----------------------------*/
.btn_pop_clse {position:absolute; width:40px; height:40px; top:0; right:0;}
.btn_pop_clse a{position:absolute; width:27px; height:27px; top:6px; right:6px; background:#bcc8cd url('http://image.bbjang.com/imgs/bbjang/img01/btn_pop_clse.png') center center no-repeat; background-size:10px 10px; border-radius:3px; text-indent:-9999px;}
.btn_pop_clse a:active{background-color:#acb6bb;}
/*-----------------------------------------------------------------------------------*/

/*--------------------------------- 170216 음성팝업추가(김다솜) ---------------------------------*/
.pop_cl {position:relative; height:auto; overflow:hidden;}
.pop_cl img {margin:12px 0 6px 12px;}
.pop_cl p.pop_cl_txt {margin-top:10px; color:#5f676b; font-size:15px; font-weight:bold; text-align:center; line-height:20px;}
.pop_cl p.pop_cl_txt2 {padding:4px 0; font-size:14px; line-height:19px;}
.pop_cl p.pop_cl_txt span.cl_txt_color {color:#ff3359;}
.pop_cl p.pop_cl_txt span.cl_txt_line {font-size:17px; font-weight:bold; line-height:26px;}
.pop_cl p.pop_cl_txt span.cl_txt_size {font-size:13px; font-weight:normal;}

.pop_cl .pop_fr_call {position:relative; width:256px; height:auto; margin:14px auto;}
.pop_cl .pop_fr_call a {padding:13.5px 0; border-radius:4px; background:#0ca2ed; color:#fff; font-size:17px; text-align:center;}
.pop_cl .pop_fr_call a:active {position:relative; top:1px; background:#0b91d4;}
.pop_cl .pop_fr_call a_active {position:relative; top:1px; background:#0b91d4;}
/*--------------------------------------------------------------------------------------------*/

/*------------------------------- 170217 관심지역매물알림 팝업추가 (김다솜) -------------------------------*/
.pop_txt_interest {width:100%; height:60px; padding-top:6px; text-align:center; box-sizing: border-box;}
.pop_txt_interest .interest_info_tit {width:281px; height:20px; padding-bottom:4px; overflow:hidden; color:#111; font-size:18px; text-overflow:ellipsis; line-height:20px; white-space:nowrap; border-bottom:1px solid #202324;}
.pop_txt_interest .interest_info_tit .info_rm_type{padding-right:8px;}
.pop_txt_interest .interest_info_txt {display:-webkit-box; width:281px; max-height:19px; padding-top:9px; overflow:hidden; font-size:16px; color:#1c1e1f; text-overflow:ellipsis; line-height:18px; word-wrap:break-word; -webkit-box-orient:vertical; -webkit-line-clamp:1;}
/*----------------------------------------------------------------------------------------------------*/

/*---------------------------------------170224 상담메시지창 신고버튼추가 (김다솜)-------------------------*/
.pop_msg_con .btn_bad_report{position:absolute; width:50px; height:40px; top:-2px; right:0;}
.pop_msg_con .btn_bad_report a{width:50px; height:40px; background:url('http://image.bbjang.com/imgs/bbjang/img01/btn_report_n.png') center center no-repeat; background-size:36px 20px; text-indent:-9999px;}
.pop_msg_con .btn_bad_report a:active{background:url('http://image.bbjang.com/imgs/bbjang/img01/btn_report_p.png') center center no-repeat; background-size:36px 20px;}
/*----------------------------------------------------------------------------------------------------*/

/*---------------------------------------170321 셀렉트 팝업 추가 (김다미)-------------------------*/
/* 셀렉트 팝업 헤더 */
.pop_header {position:relative; width:100%; height:auto;}
.pop_header h2 {width:100%; height:45px; line-height:46px; margin:0; padding:0 15px; border-radius:5px 5px 0 0; color:#fff; font-size:17px; box-sizing:border-box;}
.pop_header h3 {position:relative; width:100%; height:30px; line-height:30px; margin:0; padding:0 20px; color:#53595c; font-size:14px; font-weight:400; box-sizing:border-box;letter-spacing:-1px;}
.pop_header h3 .bg_blue {display:block; position:absolute; left:0; right:0; bottom:0; width:100%; height:1px;}
.pop_header .pop_clse {position:absolute; top:0; right:0; width:60px; height:45px; background:url(http://image.bbjang.com/imgs/ilheayo_job/img01/ico_clse.png) no-repeat 70% center; background-size:18px 18px; text-indent:-9999px;}

/* 셀렉트 팝업 하단 */
.pop_dn {position:relative; width:100%; height:auto; border-radius:0 0 5px 5px;}
.pop_dn .pop_check {position:relative; width:100%; height:auto; padding:3px 2% 6px 2%; box-sizing:border-box;}
.pop_dn .pop_check_over{height:90px; overflow-y:auto; box-sizing:border-box; -webkit-overflow-scrolling: touch;}
.pop_dn .pop_check:after {display:block; clear:both; content:"";}
.pop_dn .pop_check .pop_slct {position:relative; float:left; width:30.33333%; height:30px; margin:3px 1.5% 0 1.5%; padding:0 15px 0 5px; border:1px solid #add4ed; border-radius:5px; background-color:#f7fcff; color:#539fd0; font-size:13px; line-height:30px; box-sizing:border-box; overflow:hidden;}
.pop_dn .pop_check .pop_slct a {display:block; width:100%; height:100%; font-size:13px; letter-spacing:-0.5px;}
.pop_dn .pop_check .pop_slct .pop_slct_x{position:absolute; top:0; right:0; width:20%; height:100%; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_clse02.png) no-repeat 40% center; background-size:9px 9px; text-indent:-9999px;}
.pop_dn .pop_btn {position:relative; width:100%; height:auto;}
.pop_dn .pop_btn a {display:block; width:100%; height:45px; background-color:#46526c; color:#fff; font-size:17px; text-align:center; line-height:45px; box-shadow:inset 0px -2px 0px #364057;}

/* 팝업 스크롤 */
.style_1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2) !important;
	border-radius: 4px !important;
	background-color: #F5F5F5 !important;
}

.style_1::-webkit-scrollbar
{
	width: 4px !important;
	background-color: #F5F5F5 !important;
	-webkit-appearance: none !important;
}

.style_1::-webkit-scrollbar-thumb
{
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #adadad !important;
}
.style_1::-webkit-scrollbar-thumb:window-inactive {
   background: #41617D !important;
 }

/* 엔딩팝업 관련 170403 주철만 */
.ending_pop_bg {position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}
.ending_pop {display:block; position:fixed; top:50%; left:50%; margin-top:-200px; margin-left:-137px; width:275px; height:390px; padding:0; overflow:none; background-color:#fff;}
.ending_pop img {display:block; position:relative; top:0; left:0; width:275px; height:295px; background-color:#bea2da; margin:0; padding:0;}
.txt_section {display:block; position:relative; top:0; left:0; padding:14px 13px; background-color:#fff;}
.txt_section p {display:block; position:relative; text-align:center; font-size:16px; font-weight:bold; color:#737373; letter-spacing:-0.5px; margin-bottom:13px;}
.btn:after{content:""; display:block; clear:both;}
.btn a {width:118px; height:37px; border:1px solid #bcbcbc; box-sizing:border-box; text-align:center; font-size:16px; font-weight:bold; color:#737373; letter-spacing:-0.5px; line-height:36px;}
.btn .btn_cancel {float:left;}
.btn .btn_confirm {float:right;}

/*----------------------------------------------------------------------------------------------------*/

/*--------------------------------- [운영자용] 매물 삭제/관리/수정버튼 별도창 @메인홈 ---------------------------------*/
.pop_bb_mana_con {position:relative; width:100%; height:auto; padding:10px; box-sizing:border-box;}
.pop_bb_mana_con .btns-in {position:relative; width:100%; height:48px;}
.pop_bb_mana_con a.delete {display:inline-block; position:absolute; top:0; left:50%; width:80px; height:20px; margin:0 0 0 -133px; padding:13px 0; border:1px solid #3b3b3b; -webkit-border-radius:7px; border-radius:7px; background-color:#fff; font-size:20px; color:#373b3d; text-align:center; line-height:20px;}
.pop_bb_mana_con a.operate {display:inline-block; position:absolute; top:0; left:50%; width:80px; height:20px; margin:0 0 0 -41px; padding:13px 0; border:1px solid #3b3b3b; -webkit-border-radius:7px; border-radius:7px; background-color:#fff; font-size:20px; color:#373b3d; text-align:center; line-height:20px;}
.pop_bb_mana_con a.modify {display:inline-block; position:absolute; top:0; left:50%; width:80px; height:20px; margin:0 0 0 51px; padding:13px 0; border:1px solid #3b3b3b; -webkit-border-radius:7px; border-radius:7px; background-color:#fff; font-size:20px; color:#373b3d; text-align:center; line-height:20px;}
.pop_bb_mana_con a:active.operate,.pop_bb_mana_con a:active.delete,.pop_bb_mana_con a:active.modify {border:1px solid #2eb9f0; background-color:#2eb9f0; color:#fff;}
.pop_bb_mana_bot {position:relative; width:100%; height:auto;}
.pop_bb_mana_bot .btn_back {width:100%; height:50px; background-color:#2ea5f0; line-height:51px;}
.pop_bb_mana_bot .btn_back a {display:block; width:100%; height:100%; color:#fff; font-size:21px; text-align:center;}
.pop_bb_mana_bot .btn_back a:active {background:rgba(0,0,0,0.05);}
.pop_bb_mt65 {margin-top:-65px;}
/*------------------------------------------------------------------*/

/*--------------------------------- 비회원 대상 알림푸시 알림창  ---------------------------------*/
.pop_common_push {position:relative; width:100%; height:35px; border-bottom:1px solid #dcdcdc; background-color:#0ca2ee; line-height:36px;}
.pop_common_push h2 {width:100%; height:100%; color:#ffffff; font-size:15px; font-weight:400; font-weight:bold; text-align:center; letter-spacing:3px;}
.pop_common_con .push_txt {display:block; margin-top:15px; color:#0ca2ed; font-size:12px;}
.pop_common_con .push_txt img {width:20px; height:20px; vertical-align:top;}
.pop_common_bot .pop_btn_1ea a, .pop_common_bot .pop_btn_2ea .no_txt { color:#848484;}
/*--------------------------------- // 비회원 대상 알림푸시 알림창  ---------------------------------*/

/*--------------------------------- 등록글 상세화면> 열람현황 보기 ---------------------------------*/
.pop_clicks_wid {left:17%; right:17%; width:66%;}
.pop_clicks_mt1 {margin-top:-175px;}
.pop_clicks_mt2 {margin-top:-105px;}
.pop_clicks_bgnbs {background:none; box-shadow:0 3px 6px rgba(0,0,0,0.3); -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.3); -moz-box-shadow:0 3px 6px rgba(0,0,0,0.3);}

.pop_clicks_my {position:relative; width:100%; height:auto; padding:5px 13px 7px 13px; border-top:1px solid #298abe; background-color:#0475b3; color:#fff; box-sizing:border-box;}
.pop_clicks_my .title {display:block; position:relative; width:100%; height:27px; margin:0 auto; text-align:center; line-height:27px;}
.pop_clicks_my .title .line {display:inline-block; position:absolute; left:0; top:13px; width:100%; height:1px; -webkit-border-radius:1px; border-radius:1px; background-color:#4398c6; vertical-align:middle;}
.pop_clicks_my .title .txt-in {position:absolute; z-index:10; width:100%;}
.pop_clicks_my .title .txt-in .txt {padding:0 8px; background-color:#0475b3; font-size:15px; color:#fff; letter-spacing:-0.5px; vertical-align:middle; text-overflow:hidden; white-space:nowrap;}
.pop_clicks_my ul {position:relative; width:100%; height:auto;}
.pop_clicks_my li {width:100%; height:25px; line-height:25px;}
.pop_clicks_my li div {width:50%; height:100%; font-size:14px; box-sizing:border-box;}
.pop_clicks_my li .pop_l {float:left; padding-left:7px; text-align:left;}
.pop_clicks_my li .pop_r {float:right; padding-right:7px; color:#cff9ff; text-align:right; letter-spacing:0;}

.pop_clicks_all {position:relative; width:100%; height:auto; padding:5px 10px; background-color:#fff; color:#1c1e1f; box-sizing:border-box;}
.pop_clicks_all .title {display:block; position:relative; width:100%; height:27px; margin:0 auto; text-align:center; line-height:27px;}
.pop_clicks_all .title .line {display:inline-block; position:absolute; left:0; top:13px; width:100%; height:1px; -webkit-border-radius:1px; border-radius:1px; background-color:#c0cfd8; vertical-align:middle;}
.pop_clicks_all .title .txt-in {position:absolute; z-index:10; width:100%;}
.pop_clicks_all .title .txt-in .txt {padding:0 8px; background-color:#fff; font-size:15px; color:#024062; letter-spacing:-0.5px; vertical-align:middle; text-overflow:hidden; white-space:nowrap;}
.pop_clicks_all ul {position:relative; width:100%; height:auto;}
.pop_clicks_all li {width:100%; height:25px; padding:0 25px; background:url('http://image.bbjang.com/imgs/bbjang/img01/pop_dot.png') no-repeat 10px center; background-size:5px 5px; font-size:14px; line-height:25px; letter-spacing:0; box-sizing:border-box;}
.pop_clicks_all li .label {display:inline-block; min-width:56px;}
.pop_clicks_all li .mg1 {margin:0 8px 0 2px;}
.pop_clicks_all li .mg2 {margin:0 0 0 1.5px;}
.pop_clicks_all li .c2 {color:#a2a2a2;}
.pop_clicks_all li .c3 {color:#0482c7;}
.pop_clicks_all li .t2 {font-size:15px;}

.pop_clicks_dn {position:relative; width:100%; height:auto; border-radius:0 0 7px 7px;}
.pop_clicks_dn .back {position:relative; width:100%; height:100%; border-top:1px solid #cfcfcf; background-color:#dbdbdb;}
.pop_clicks_dn .back a {display:block; width:100%; height:46px; font-size:16px; color:#333; text-align:center; line-height:46px;}
.pop_clicks_dn .back a:active {background:rgba(0,0,0,0.05);}
/*------------------------------------------------------------------*/

/*--------------------------------- 170727 셀렉트 팝업 뱃지추가 (김다미) ---------------------------------*/
/* 매물종류 팝업 */
.pop_content {position:relative; width:100%; height:auto;}
.pop_content .pop_u {width:100%; height:auto;}
.pop_content .pop_u:after {display:block; clear:both; content:"";}
.pop_content .pop_u .pop_l {float:left; width:50%; height:auto; text-align:center; transition:width 0.2s ease-out; -webkit-transition:width 0.2s ease-out; -o-transition:width 0.2s ease-out; -moz-transition:width 0.2s ease-out; -ms-transition:width 0.2s ease-out;}
.pop_content .pop_u .pop_l h4 {width:100%; height:33px; margin:0; padding:0; color:#46526c; font-size:16px; text-align:center; line-height:32px;}
.pop_content .pop_u .pop_l ul {width:100%; height:auto;}
.pop_content .pop_u .pop_l ul li {width:100%; height:36px; line-height:36px;}
.pop_content .pop_u .pop_l ul li a {position:relative; display:block; width:100%; height:100%; color:#000; font-size:15px; letter-spacing:-0.5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; box-sizing:border-box;}
.pop_content .pop_u .pop_l ul li a:active {background-color:#efefef;}

.pop_content .pop_u .pop_l .pop_first, .pop_content .pop_u .pop_l .pop_second {width:100%; border-width:1px 1px 1px 0; border-style:solid; border-color:#e7e7e7; box-sizing:border-box; overflow-y:auto; -webkit-overflow-scrolling: touch; -webkit-box-shadow:inset 0 -2px 4px rgba(0,0,0,0.15);} /* 160106 아이폰대응 추가 _ 김다미 */
@media screen and (max-height:569px) {
	.pop_content .pop_u .pop_l .pop_first, .pop_content .pop_u .pop_l .pop_second {height:150px;}
	.mt_225 {margin-top:-180px;}
}
@media screen and (min-height:480px) and (max-height:570px) {
	.pop_content .pop_u .pop_l .pop_first, .pop_content .pop_u .pop_l .pop_second {height:236px;}
	.mt_225 {margin-top:-225px;}
}
@media screen and (min-height:571px) and (max-height:650px) {
	.pop_content .pop_u .pop_l .pop_first, .pop_content .pop_u .pop_l .pop_second {height:308px;}
	.mt_225 {margin-top:-260px;}
}
@media screen and (min-height:651px) {
	.pop_content .pop_u .pop_l .pop_first, .pop_content .pop_u .pop_l .pop_second {height:345px;}
	.mt_225 {margin-top:-280px;}
}

.pop_content .pop_u .pop_l .pop_first a{font-weight:700;}
.pop_content .pop_u .pop_l .pop_first a.slct_checked, .pop_content .pop_u .pop_l .pop_first a.slct_active{color:#24a0ea; font-weight:bold;}
.pop_content .pop_u .pop_l .pop_first a.slct_active span{display:inline-block; width:auto; height:100%; vertical-align:middle; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/bg_slct_acive.png) center center no-repeat; background-size:100% 36px;}

.pop_content .pop_u .pop_l .pop_second a{padding-left:5px; box-sizing:border-box; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 7% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u .pop_l .pop_second {border-right:0 none;}
.pop_content .pop_u .pop_l .pop_second ul {display:none;}
.pop_content .pop_u .pop_l .pop_second a{padding-left:5px; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 7% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u .pop_l .pop_second a.slct_active{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 7% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u .pop_l .pop_second 
@media(max-width:350px){
	.pop_content .pop_u .pop_l .pop_second a{padding-left:10px;}
}

/* 매물종류 뱃지 있을 경우 */
.pop_content .pop_u .pop_l ul li .slct_badge{position:absolute; top:0px; right:0px; width:53px; height:20px; line-height:20px; margin:8px 12px 8px 6px; background-color:#0ca2ed; color:#fff; font-size:13px; font-weight:700; text-align:center; float:right; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%;}

.pop_content .pop_u .pop_l ul li .slct_badge_min{position:absolute; top:0px; right:0px; width:36px; height:17px; line-height:17px; margin:8px 12px 8px 6px; background-color:#56bbf7; color:#fff; font-size:13px; font-weight:700; text-align:center; float:right; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%;}

.pop_content .pop_u_1 .pop_l:first-of-type{width:70%;}
.pop_content .pop_u_1 .pop_l:last-of-type{width:30%;}
.pop_content .pop_u_2 .pop_l:first-of-type{width:30%;}
.pop_content .pop_u_2 .pop_l:last-of-type{width:70%;}

.pop_content .pop_u_1 .pop_first .slct_badge{display:block!important;}
.pop_content .pop_u_1 .pop_second .slct_badge{;display:none;}
.pop_content .pop_u_2 .pop_first .slct_badge{display:none;}
.pop_content .pop_u_2 .pop_second .slct_badge{display:block!important;}

.pop_content .pop_u_1 .pop_first a{padding-right:75px; padding-left:17px; text-align:left;}
.pop_content .pop_u_1 .pop_second a{padding-left:40px!important; text-align:left; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 12px center no-repeat!important; background-size:18px 18px!important;}
.pop_content .pop_u_1 .pop_second a.slct_active{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 12px center no-repeat!important; background-size:18px 18px!important;
}
.pop_content .pop_u_2 .pop_first a{padding-left:17px; text-align:left;}
.pop_content .pop_u_2 .pop_second a{padding-right:75px; padding-left:40px!important; text-align:left; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 12px center no-repeat!important; background-size:18px 18px!important;}
.pop_content .pop_u_2 .pop_second a.slct_active{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 12px center no-repeat!important; background-size:18px 18px!important;
}

/* 거래유형 팝업 */
.pop_content .pop_u .slct_table{height:38px; line-height:38px;}
.pop_content .pop_u .slct_table a{display:block; width:100%; height:100%; color:#000; font-size:15px; padding-left:8%; border-width:0px 1px 1px 0; border-style:solid; border-color:#e7e7e7; box-sizing:border-box; letter-spacing:-0.5px; text-align:center; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 6% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u .slct_table a:active{background-color:#efefef;}
.pop_content .pop_u .slct_table .slct_active{color:#24a0ea; font-weight:bold; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 6% center no-repeat; background-size:18px 18px;}

.pop_content .pop_u .pop_l_full {float:left; width:100%; height:auto;}
.pop_content .pop_u .pop_l_full a{padding-left:3%; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 30% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u .pop_l_full .slct_active_l{color:#24a0ea; font-weight:bold; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 30% center no-repeat; background-size:18px 18px;}

/* 거래유형 뱃지 있을 경우 */
.pop_content .pop_u_tb .slct_table a{padding-left:22%!important; text-align:left!important;}
.pop_content .pop_u_tb .slct_table .slct_badge{display:inline-block; vertical-align:top; width:53px; height:20px; line-height:20px; margin:9px 6px 9px 6px; background-color:#0ca2ed; color:#fff; font-size:13px; font-weight:700; text-align:center; float:right; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%;}
.pop_content .pop_u_tb .slct_table .slct_badge_min{display:inline-block; vertical-align:top; width:36px; height:17px; line-height:17px; margin:9px 6px 9px 6px; background-color:#56bbf7; color:#fff; font-size:13px; font-weight:700; text-align:center; float:right; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%;}
@media screen and (max-width:350px){
	.pop_content .pop_u_tb .slct_table a{padding-left:17%!important; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 3% center no-repeat!important; background-size:18px 18px!important;}
	.pop_content .pop_u_tb .slct_table .slct_badge{margin:9px 3px 9px 6px;}
	.pop_content .pop_u_tb .slct_table .slct_active{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 3% center no-repeat!important; background-size:18px 18px!important;}
}

.pop_content .pop_u_tb .pop_l_full .slct_badge{margin:9px 0px 9px 5%; float:none;}
.pop_content .pop_u_tb .pop_l_full a{padding-left:38%!important; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 32% center no-repeat!important; background-size:18px 18px!important;}
.pop_content .pop_u_tb .pop_l_full .slct_active_l{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 32% center no-repeat!important; background-size:18px 18px!important;}

/* 지역선택 팝업 */
.pop_tab{position:relative; width:100%; height:auto; border-bottom:1px solid #e7e7e7;}
.pop_tab:after{content:""; display:block; clear:both;}
.pop_tab h4{width:33.33333%; height:35px; line-height:25px; margin:0; padding:5px 7px; box-sizing:border-box; color:#373b3d; font-size:15px; text-align:center; float:left;}
.pop_tab .tab_slct{display:block; width:100%; height:100%; background-color:#0ca2ed; border-radius:3px; color:#fff; overflow:hidden;}
.pop_tab .pop_tab_line{position:absolute; bottom:0; left:0px; width:33.33333%; height:2px; transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out; -o-transition:all 0.1s ease-in-out; -moz-transition:all 0.1s ease-in-out; -ms-transition:all 0.1s ease-in-out;}

.pop_content .pop_u_tab{width:100%; padding-top:6px; box-sizing:border-box; overflow-y:auto; -webkit-overflow-scrolling: touch; -webkit-box-shadow:inset 0 -2px 4px rgba(0,0,0,0.15);}
@media screen and (max-height:569px) {
	.pop_content .pop_u_tab{height:150px;}
	.mt_225 {margin-top:-180px;}
}
@media screen and (min-height:480px) and (max-height:570px) {
	.pop_content .pop_u_tab {height:236px;}
	.mt_225 {margin-top:-225px;}
}
@media screen and (min-height:571px) and (max-height:650px) {
	.pop_content .pop_u_tab{height:308px;}
	.mt_225 {margin-top:-260px;}
}
@media screen and (min-height:651px) {
	.pop_content .pop_u_tab{height:345px;}
	.mt_225 {margin-top:-280px;}
}
.pop_content .pop_u_tab .pop_l_tab{width:100%; height:36px; line-height:36px;}
.pop_content .pop_u_tab .pop_l_tab a {position:relative; display:block; width:100%; height:100%; color:#000; font-size:15px; text-align:center; letter-spacing:-0.5px; box-sizing:border-box; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 5% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u_tab .pop_l_tab a:active {background-color:#efefef;}
.pop_content .pop_u_tab .pop_l_tab a.slct_active{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 5% center no-repeat; background-size:18px 18px;}

/* 지역선택 뱃지 있을 경우 */
.pop_content .pop_u_tb .pop_l_tab a .slct_badge{position:absolute; top:0px; right:6%; width:53px; height:20px; line-height:20px; margin:8px 0px; background-color:#0ca2ed; color:#fff; font-size:13px; font-weight:700; text-align:center; float:right; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%;}

.pop_content .pop_u_tb .pop_l_tab a .slct_badge_min{position:absolute; top:0px; right:6%; width:36px; height:17px; line-height:17px; margin:8px 0px; background-color:#56bbf7; color:#fff; font-size:13px; font-weight:700; text-align:center; float:right; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%;}

.pop_content .pop_u_tb .pop_l_tab a {background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk02_off.png) 15% center no-repeat; background-size:18px 18px;}
.pop_content .pop_u_tb .pop_l_tab a.slct_active{background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_chk03_on.png) 15% center no-repeat; background-size:18px 18px;}